header{
    width: 100%;
    position: relative;
}
nav {
    position: fixed;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    background-color: #ecf0f172;
     box-shadow: 0px 0 10px 2px rgba(0, 0, 0, 0.8);
      }

 ul{
    margin-top: -50px;
    margin-left: 46rem;
    float: right;
   position: absolute;
}
li{
    display: inline;
    padding: 22.5px;
    font-size: 20px;
    font-weight: bold;
    transition-property: rotate .3s;
}
li:hover{
    color:  #96bb7c;
border-bottom: 5px solid #96bb7c;
transform: rotate(120deg);
cursor: pointer; 
}
.logo{
    font-size: 2.2rem;
    padding: 20px;
}

.line{
    width: 47px;
    height: 4px;
    transform: translate(17.1rem, 20rem);
    background-color: green;
}
.container > h2{
    margin: 17rem;
    margin-top: 20rem;
    font-weight: 200;
    font-size: 4rem;
}
.container > p{
    margin-top: -15rem;
    margin-left: 14rem;
    font-weight: 100;
    font-size: 20px;
}
.container > button {
    background-color: #96bb7c;
    width: 10rem;
    height: 3.6rem;
    transform: translate(8rem, 1rem);
    border: 1px solid #96bb7c !important;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
}
.container > button:hover{
    border: 5px solid #96bb7c;
    background-color: #fff;
    color: #000;
    cursor: pointer;

}
.container > span {
float: left;
transform: translate(31rem, 3.7rem);
list-style-type: none;
cursor: pointer;
font-family: fantasy;

}
.container  > i{ 
    transform: translate(9rem, 2.3rem);
    font-size: 68px;
    color: #96bb7c;
}
.container > i:hover{
color: #e74d3cdc;
font-size: 70px;
cursor: pointer;
}
footer{
    background-color: #0f101c;
    width: 100%;
    position: relative;
}
.info{
    color: #fff;
    margin: 2rem;
    padding: 20px;
    position: relative;
}
.info h1{
    display: inline;
    padding: 3rem;
    margin: auto;
position: static;
text-align: right;
align-items: center;

}